@import url('https://fonts.googleapis.com/css?family==Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #1c130e;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #deeee1;
}
.navbar h1 {
  color: #e95007;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #e95007;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #edd8ce;
}
.blog-preview {
  box-shadow: 1px 3px 5px #ff7a39;
}
.blog-preview h2 {
  font-size: 20px;
  color: #e95007;
  margin-bottom: 8px;
}